// minimal.sass
// A simple stylesheet for simple webpages
// Created by James Westman. CC-0 1.0, no rights reserved.
// https://minimalcss.jwestman.net/

@media screen
  body
    font-family: sans-serif
    margin-left: auto
    margin-right: auto
    padding-left: 1em
    padding-right: 1em
    max-width: 1000px

  @media (min-width: 768px)
    body
      padding-left: 5em
      padding-right: 5em


@media (prefers-color-scheme: dark)
  $foreground: #DDD
  $background: #222

  body
    color: $foreground
    background-color: $background

  a
    color: skyblue
    &:visited
      color: mediumpurple

  mark
    background-color: #774
    color: $foreground


h1
  margin-top: .5em
  margin-bottom: .5em

blockquote
  border-left: 5px solid
  margin-left: 1em
  padding-left: 1em

img
  max-width: 100%

pre
  overflow-x: auto
